
    body{
        background-color: rgb(121, 216, 216);
    }

    div {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 25px;
            margin: 600px;
            margin-top: 50px;
            width: 280px;
            gap: 12px;
            border-radius: 20px;
            border: none;
            background-color: white;
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
        }
    input {
            padding: 20px;
            width: 100%;
            height: 40px;
            font-size: 22px;
            text-align: center;
            border-radius: 12px;
            border: 2px solid #444;
            background-color: #f3f3f3;
        }
    button {
            width: 60px;
            height: 55px;
            font-size: 18px;
            font-weight: bold;
            border-radius: 12px;
            border: none;
            background-color: #e0e0e0;
        }
    button:hover {
            background-color: gray;
            transform: scale(1.05);
        }
    #clear{
            background-color: red ;
            color: white;
        }
    #clear:hover {
            background-color: red;
        }
    #equal{
            background-color: green;
            color: white;
        }
    #equal:hover {
            background-color: darkgreen;
        }
    #add,#sub,#div,#mul{
            background-color: orange;
        }
    h1{
            font-size: 30px;
            color: blueviolet;
            justify-content: center;
            text-align: center;
            margin-top: 50px;
        }